
<div id="guessNumber">
  <h2>Click a number between 1 and 10.</h2>
  <form action="/games/secret/result">
    <input type="submit" name="one" value="1">
    <input type="submit" name="two" value="2">
    <input type="submit" name="three" value="3">
    <input type="submit" name="four" value="4">
    <input type="submit" name="five" value="5">
    <input type="submit" name="six" value="6">
    <input type="submit" name="seven" value="7">
    <input type="submit" name="eigth" value="8">
    <input type="submit" name="nine" value="9">
    <input type="submit" name="ten" value="10">
    <!-- <input type="submit" value="result"> -->

  </form>
</div>
